.majorpointslegend {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Safari */
  }

#slider{
    opacity:1;
    transition: opacity 4s;}


#slider.fadeOut {
    opacity:0;
}

div.hiders {
	font-size: 90%;
}

fieldset {
   border:0 none;
}

legend {
	color: #267CB9;
	text-decoration: none;
}

legend:hover {
	color: black;
	transition: text-decoration 500ms;
	cursor: pointer;
}



div.body_text, div.body_text_2, div.body_text_3 {
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(255,255,255,0.4);
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
	border-radius: 8px;
}

div.body_text {
    left: 40%;
    width: 25%;
    top: 1%;
}

div.body_text_2 {
    left: 5%;
    width: 25%;
    top: 1%;
}

div.body_text_3 {
    left: 75%;
    width: 25%;
    top: 1%;
}

/* Responsive design for tablets and mobile devices */
@media (max-width: 768px) {
    div.body_text, div.body_text_2, div.body_text_3 {
        position: relative; /* Change position to relative for stacking */
        width: 90%; /* Adjust width to fit mobile screens */
        left: 5%; /* Center the divs */
        top: auto; /* Reset top positioning */
        margin-top: 20px; /* Add some space between the divs */
		height: auto; /* Allow the divs to grow in height */
    }

	#reviewSlideshow {
		height: 300px;
	}
}

div.background_div {
    z-index: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
	height: 1000px;
	zoom: 125%;
	top: 5%;
	left: 5%;
}
.background_div img {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure this is set so images are above the div's background but below anything else you might want to overlay */
}


body {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
}

canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.container {
	width: 100%;
	height: 1250px;
	position: absolute;
	z-index:10;
}

.text-container {
	width: 90%;
	height: 1250px;
	position: absolute;
	z-index:10;
}

a {
	color: #267CB9;
	text-decoration: none;
}


a:hover {
	color: blue;
	transition: text-decoration 500ms;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

.mephoto {
	width: 75%;
}


.review-slideshow {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}
.review-content {
	transition: opacity 0.5s ease-in-out;
}
.review-author {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.review-author img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.review-author-info {
	display: flex;
	flex-direction: column;
}
.review-author-name {
	font-weight: bold;
}
.review-author-role {
	font-size: 0.9em;
	color: #666;
}
.review-text {
	font-style: italic; 
}

